:root {
 --color1: #0f0;
 --color2: #0f0;
}

*, *::before, *::after {
 box-sizing: border-box;
}

body {
 font-family: 'Arial', sans-serif;
 background-color: black;
 color: var(--color1);
 margin: auto;
 width: 20cm;
 max-width: 100%;
}

a {
 color: var(--color1);
}

.button-container {
 display: flex;
 justify-content: start;
 align-items: start;
 flex-wrap: wrap;
}

button, input, textarea {
 margin: 5px;
 padding: 10px 15px;
 border: 1px solid var(--color1);
 border-radius: 0;
 cursor: pointer;
 transition: background-color 0.3s ease, transform 0.3s ease;
 color: var(--color1);
 background-color: black;
}

button, input, .spinner {
 height: 45px;
}

textarea {
 width: 100%;
 resize: vertical;
 margin-right: 5cm;
}

input::placeholder, textarea::placeholder {
 color: var(--color1);
 filter: brightness(70%);
}

button:hover, button:focus {
 transform: scale(1.05);
}

.spinner {
 border: 2px solid var(--color1);
 width: 15px;
 height: 15px;
 border-radius: 50%;
 border-left-color: #09f;
 animation: spin 1s ease infinite;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.info-icon {
 cursor: pointer;
}