:root {
 --myGreen: #0f0;
}

body,html {
 margin: auto;
 padding: 0;
 width: 100%;
 height: 100%;
 font-family: 'Courier', sans-serif;
 background-color: black;
 color: var(--myGreen);
 max-width: 20cm;
}

.infoButton {
 align-items: start;
 padding-left: 0;
 border-left: none;
 padding-right: 2mm;
}

.attachedInfoButton {
 margin-right:-3mm;
 border-right: none;
 padding-right: 1mm;
}

div {
 margin: 0;
 padding: 0;
}

h1, h2, h3, h4, h5, h6 {
 display: inline-block; /* Allows headings to have dimensions but remain inline */
 margin-top: .1cm;
 margin-bottom: 0;
}

a {
 color: var(--myGreen);
}

.button-container {
 display: flex;
 justify-content: flex-end;
}

.wrapping-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
}

button {
 flex-grow: 1;
 height: 55px;
}

.record-spinner-group {
 display: flex;
}

div {
 border-collapse: collapse;
}

button, input, textarea {
 border-collapse: collapse;
 padding: 10px 15px;
 border: 1px solid var(--myGreen);
 margin: 0;
 border-radius: 0;
 cursor: pointer;
 transition: background-color 0.3s ease, transform 0.3s ease;
 color: var(--myGreen);
 background-color: black;
}

input, textarea {
 font-family: 'Arial', sans-serif;
 font-size: 20px;
}

input:focus, textarea:focus {
 color: var(--myGreen);
 border: 1px solid var(--myGreen);
 outline: none;
}

input::selection, textarea::selection {
 background-color: var(--myGreen);
 color: black;
}

input::placeholder, textarea::placeholder {
 color: var(--myGreen);
 filter: brightness(70%);
}

/*button:hover, button:focus {*/
/* transform: scale(1.05);*/
/*}*/

.spinner {
 border: 2px solid var(--myGreen);
 width: 15px;
 height: 15px;
 border-radius: 50%;
 border-left-color: #09f;
 animation: spin 1s ease infinite;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.greenFilter {
 filter: grayscale(100%) sepia(1) hue-rotate(90deg) brightness(0.5) saturate(10);
}

.clearfix::after {
 content: "";
 clear: both;
 display: table;
}

.hidden {
 display: none;
}

textarea {
 width: 100%;
 resize: vertical;
 box-sizing: border-box;
 margin: 0;
 height: 10cm;
}

@keyframes blink {
 0%, 100% { opacity: 1; }
 50% { opacity: 0; }
}

.blinking {
 animation: blink 1s linear infinite;
}

@media only screen and (max-width: 600px) {
 .editorTextAreaContainer {
  width: 90%;
 }
 body, html {
  margin: 0;
 }
 .editorTextAreaContainer {
  width: 100%
 }
}